*{margin: 0px; padding: 0px;}
html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
img{
  width: 100%;
  height: auto;
  position: absolute;
}
.contain{
  width: 995px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.bg1{
  top: 0%;
  opacity: 1;
  animation: bg1 14s infinite;
}
@keyframes bg1 {
0%{top: 0%; opacity: 1;}
100%{top: 0%; opacity: 1;}
}
.obj11{
  top: 0%;
  opacity: 0;
  animation: obj11 14s infinite;
}
@keyframes obj11 {
0%{left: -20%; top: 0%; opacity: 0;}
10%{left: 0%; top: 0%; opacity: 1;}
40%{left: 0%; top: 0%; opacity: 1;}
50%{left: 20%; top: 0%; opacity: 0;}
100%{top: 0%; opacity: 0;}
}
.obj12{
  top: 0%;
  opacity: 1;
  animation: obj12 14s infinite;
}
@keyframes obj12 {
0%{top: 0%; opacity: 0;}
0%{left: -20%; top: 0%; opacity: 0;}
10%{left: 0%; top: 0%; opacity: 1;}
90%{left: 0%; top: 0%; opacity: 1;}
100%{left: -20%; top: 0%; opacity: 0;}
}
.obj13{
  top: 0%;
  opacity: 1;
  animation: obj13 14s infinite;
}
@keyframes obj13 {
0%{top: 0%; opacity: 0;}
40%{left: -20%; top: 0%; opacity: 0;}
50%{left: 0%; top: 0%; opacity: 1;}
90%{left: 0%; top: 0%; opacity: 1;}
100%{left: 20%; top: 0%; opacity: 0;}
}
.obj14{
  top: 0%;
  opacity: 1;
  animation: obj14 14s infinite;
}
@keyframes obj14 {
0%{top: 0%; opacity: 0;}
40%{left: 20%; top: 0%; opacity: 0;}
50%{left: 0%; top: 0%; opacity: 1;}
90%{left: 0%; top: 0%; opacity: 1;}
100%{left: -20%; top: 0%; opacity: 0;}
}
