*{margin: 0px; padding: 0px;}
html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
img{
  position: absolute;
  width: 100%;
  height:auto;
}
.contain{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bg{
  top: 0%;
  opacity: 0;
  animation: bg 11s infinite;
}
@keyframes bg {
  0%{top: 0%; opacity: 1;}
  100%{top: 0%; opacity: 1;}
}
.obj11{
  top: 0%;
  opacity: 0;
  animation: obj11 11s infinite;
}
@keyframes obj11 {
  0%{top: 0%; left: -10%;opacity: 0;}
  10%{top: 0%; left: 0%; opacity: 1;}
  40%{top: 0%; left: 0%; opacity: 1;}
  50%{top: 0%; opacity: 0;}
  100%{top: 0%; opacity: 0;}
}
.obj12{
  top: 40%;
  opacity: 0;
  animation: obj12 11s infinite;
}
@keyframes obj12 {
  0%{top: 40%; left: 10%;opacity: 0;}
  5%{top: 40%; left: 10%;opacity: 0;}
  15%{top: 40%; left: 0%; opacity: 1;}
  40%{top: 40%; left: 0%; opacity: 1;}
  50%{top: 40%; opacity: 0;}
  100%{top: 40%; opacity: 0;}
}
.obj13{
  top: 0%;
  opacity: 0;
  animation: obj13 11s infinite;
}
@keyframes obj13 {
  0%{top: 0%; opacity: 0;}
  40%{bottom: 0%; left: -10%;opacity: 0;}
  50%{bottom: 0%; left: 0%; opacity: 1;}
  90%{bottom: 0%; opacity: 1;}
  100%{bottom: 0%; opacity: 0;}
}
.obj14{
  top: 0%;
  opacity: 0;
  animation: obj14 11s infinite;
}
@keyframes obj14 {
  0%{top: 0%; opacity: 0;}
  45%{bottom: 0%; left: 10%;opacity: 0;}
  55%{bottom: 0%; left: 0%; opacity: 1;}
  90%{bottom: 0%; opacity: 1;}
  100%{bottom: 0%; opacity: 0;}
}
